html
    head
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
        title Welcome to Courses!
        style
            include ../public/stylesheets/index.css
    body
        header
            a(href='/' class='logo-a'): div(class='logo-container')
                img(class='logo-img' src="/images/book.svg" alt="This is my Logo")
                div(class='logo'): h4 Coursem
            div(class='search-bar-container')
                div(class='search-bar'): input(type="hidden" placeholder="Search for your courses here...")
            nav
                ul(class='nav-links')
                    a(class='nav-link' href="../courses"): li Courses
                    a(class='nav-link' href="../users"): li Users
                    -var user = session.username
                    if !user
                        li(class='nav-link') 
                            div(class="dropdown dropdown-menu-right")
                                button(class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Login/Register
                                div(class="dropdown-menu" aria-labelledby="dropdownMenuButton")
                                    a(class="dropdown-item" href="../login") Login
                                    a(class="dropdown-item" href="../register") Register
                    else
                        li(class='nav-link')
                            div(class="dropdown dropdown-menu-right")
                                button(class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #{user}
                                div(class="dropdown-menu" aria-labelledby="dropdownMenuButton")
                                    a(class="dropdown-item" href="../users/"+user) #{user}'s Page
                                    div(class="dropdown-divider")
                                    a(class="dropdown-item" href="../logout") Logout
                                    if session.user_type=="Admin"
                                        div(class="dropdown-divider")
                                        a(class="dropdown-item" href="/add-course") Add Courses

        main
            h1 Welcome to Courses.
            div(class="jumbotron.jumbotron-fluid")
                div(class="container")
                    h1(class="display-4") #{course[0].course_code}
                    -
                        var enrolled = false;
                        if(session.courses_enrolled!=null &&session.courses_enrolled.includes(course[0].course_code)) enrolled = true;
                    if enrolled
                        p(class="lead")
                            | Already Enrolled in this Course.
                            | Click below to dropout
                            form(class="display-6" method="post" action="/courses/"+course[0].course_code+"/delete")
                                input(type="hidden" name="enroll_course_code" value=course[0].course_code)
                                input(type="submit" value="Dropout")
                    else
                        p(class="lead")
                            | #{course[0].description}
                            br
                            h3 Instructor: 
                            a(href="#")|#{instructor[0].name}
                            br
                            if course[0].university != "No University"
                                | A course by #{course[0].university}
                                br
                                | Number of Credits: #{course[0].credits}
                            br
                            | Click below to enroll
                            form(class="display-6" method="post" action="/courses/"+course[0].course_code)
                                input(type="hidden" name="enroll_course_code" value=course[0].course_code)
                                input(type="submit" value="Enroll")
                p: h3(style="color:red;") #{flash}
                p #{error}

    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", crossorigin="anonymous")